hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

body {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

html, body {
    background-color: #333;
    height: 100%;
}

.site-wrapper {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset;
    display: table;
    height: 100%;
    min-height: 100%;
    width: 100%;
}

.site-wrapper-inner {
    vertical-align: middle;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}

.map_container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.map_container #map{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

/*#map {*/
    /*display: block;*/
   /*height: 400px;*/
/*}*/

#error {
    color: red;
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
