<!DOCTYPE html>
<html>
    <head>

        {% include 'head.html' %}

        {% block extra_head %}
        {% endblock %}
    </head>

    <body>

        <header>
            {% include 'nav.html' %}
            {% block extra_header %}
            {% endblock %}
        </header>

        {% block content %}
        {% endblock %}


        {% include 'scripts.html' %}
        {% block extra_scripts %}
        {% endblock %}

    </body>
</html>