{# Head template #}

{% load static %}

{# Meta #}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="Python technical test">
<meta name="author" content="Pierre Rodier">
{# Meta END #}

<title>{% block title %}Python technical test{% endblock %}</title>

{# Style #}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
{# Style END #}

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
