{# Scripts template #}

{% load static %}

{# Base JS #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{# Base JS END #}