{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/direction_map.css' %}"/>
{% endblock %}

{% block content %}

    <div class="container">
        <section id="map_section">

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form id="map-direction-id" action="{% url 'map' %}" method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="id_address">Email address</label>
                            <input type="text" class="form-control" id="id_address" name="address" maxlength="255">
                        </div>
                        <p id="error"></p>

                        <input type="submit" class="btn btn-default" value="Valider" />
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>

            <hr class="light">

            <div class="row">

                <div class="map_container">
                    <div id="map"></div>
                </div>
            </div>

        </section>
    </div>

{% endblock %}

{% block extra_scripts %}

    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script src="{% static 'js/direction_map.js' %}"></script>

{% endblock %}